<ion-tabs mode="ios" class="custom-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>{{ 'TABS.HOME' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cave">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABS.CAVE' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="catalogue">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>{{ 'TABS.STATS' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'TABS.SETTINGS' | transloco }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
